<div>
	<a href="https://github.com/corganfuzz" target="_blank" class="pull-right btn btn-primary btn-outline btn-rounded">All Github Projects</a>
	<h2>IMED 2351 <small>Fall 2016</small></h2>
	<div class="jumbotron">
		<div class="container">
			<h1>Welcome!</h1>
			Thank you for visiting my assignments page. This SPA would later become my own portfolio site. Feel free to browse and click anywhere.  <br /><br />
			<p>
				<a ui-sref="reports" class="btn btn-primary btn-lg btn-outline btn-rounded">Assignments List</a>

			</p>
		</div>
	</div>
</div>
