<div>
	<a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
	<h2>Fall 2016 Semester <small></small></h2>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
	<div class="jumbotron">
		<div class="container">
			<h1>JavaScript</h1>
			<p>Assignments, homework, projects and whatnot</p><br/>
			<!--<p>-->
				<!--<a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>-->
			<!--</p>-->

            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Assignment 1 </h3>
                        </div>
                            <div class="panel-body">
                                <h5><b>Description:</b> Get a Hosting account and fix a broken page</h5>

                                <h5><b>Status:</b>   <span class="label label-success">Completed</span></h5>

                                <h5><b>Links:</b>  <a href="../../projectz/broken-page.html" target="_blank">broken-page</a> ,
                                                   <a href="http://imedog.herokuapp.com/" target="_blank">ImedOG</a></h5>

                                <h5><b>Github (FTP):</b></h5>

                            </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Assignment 2 </h3>
                        </div>
                        <div class="panel-body">
                            <h5><b>Description:</b> </h5>

                            <h5><b>Status:</b>   <span class="label label-warning">Not Attempted</span></h5>

                            <h5><b>Links:</b>  </h5>

                            <h5><b>Github (FTP):</b></h5>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Assignment 3 </h3>
                        </div>
                        <div class="panel-body">
                            <h5><b>Description:</b> </h5>

                            <h5><b>Status:</b>   <span class="label label-warning">Not Attempted</span></h5>

                            <h5><b>Links:</b>  </h5>

                            <h5><b>Github (FTP):</b></h5>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Assignment 4 </h3>
                        </div>
                        <  <div class="panel-body">
                        <h5><b>Description:</b> </h5>

                        <h5><b>Status:</b>   <span class="label label-warning">Not Attempted</span></h5>

                        <h5><b>Links:</b>  </h5>

                        <h5><b>Github (FTP):</b></h5>

                    </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Assignment 5 </h3>
                        </div>
                        <div class="panel-body">
                            <h5><b>Description:</b> </h5>

                            <h5><b>Status:</b>   <span class="label label-warning">Not Attempted</span></h5>

                            <h5><b>Links:</b>  </h5>

                            <h5><b>Github (FTP):</b></h5>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Assignment 6 </h3>
                        </div>
                        <div class="panel-body">
                            <h5><b>Description:</b> </h5>

                            <h5><b>Status:</b>   <span class="label label-warning">Not Attempted</span></h5>

                            <h5><b>Links:</b>  </h5>

                            <h5><b>Github (FTP):</b></h5>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Assignment 7 </h3>
                        </div>
                        <div class="panel-body">
                            <h5><b>Description:</b> </h5>

                            <h5><b>Status:</b>   <span class="label label-warning">Not Attempted</span></h5>

                            <h5><b>Links:</b>  </h5>

                            <h5><b>Github (FTP):</b></h5>

                        </div>
                    </div>
                </div>
            </div>

                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title"> Midterm Project </h3>
                            </div>
                            <div class="panel-body">
                                <h5><b>Description:</b> </h5>

                                <h5><b>Status:</b>   <span class="label label-default">Not Available</span></h5>

                                <h5><b>Links:</b>  </h5>

                                <h5><b>Github (FTP):</b></h5>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title"> Final Project </h3>
                            </div>
                            <div class="panel-body">
                                <h5><b>Description:</b> </h5>

                                <h5><b>Status:</b>   <span class="label label-default">Not Available</span></h5>

                                <h5><b>Links:</b>  </h5>

                                <h5><b>Github (FTP):</b></h5>

                            </div>
                        </div>
                    </div>
                </div>

            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Exercise 1 </h3>
                        </div>
                        <div class="panel-body">
                            <h5><b>Description:</b> </h5>

                            <h5><b>Status:</b>   <span class="label label-warning">Not Attempted</span></h5>

                            <h5><b>Links:</b>  </h5>

                            <h5><b>Github (FTP):</b></h5>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Exercise 2 </h3>
                        </div>
                        <div class="panel-body">
                            <h5><b>Description:</b> </h5>

                            <h5><b>Status:</b>   <span class="label label-warning">Not Attempted</span></h5>

                            <h5><b>Links:</b>  </h5>

                            <h5><b>Github (FTP):</b></h5>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Exercise 3 </h3>
                        </div>
                        <div class="panel-body">
                            <h5><b>Description:</b> </h5>

                            <h5><b>Status:</b>   <span class="label label-warning">Not Attempted</span></h5>

                            <h5><b>Links:</b>  </h5>

                            <h5><b>Github (FTP):</b></h5>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Exercise 4 </h3>
                        </div>
                        <div class="panel-body">
                            <h5><b>Description:</b> </h5>

                            <h5><b>Status:</b>   <span class="label label-warning">Not Attempted</span></h5>

                            <h5><b>Links:</b>  </h5>

                            <h5><b>Github (FTP):</b></h5>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Exercise 5 </h3>
                        </div>
                        <div class="panel-body">
                            <h5><b>Description:</b> </h5>

                            <h5><b>Status:</b>   <span class="label label-warning">Not Attempted</span></h5>

                            <h5><b>Links:</b>  </h5>

                            <h5><b>Github (FTP):</b></h5>

                        </div>
                    </div>
                </div>

                <!--<div class="col-lg-6 col-md-12 col-sm-12">-->
                    <!--<div class="panel panel-info">-->
                        <!--<div class="panel-heading">-->
                            <!--<h3 class="panel-title"> Exercise 6 </h3>-->
                        <!--</div>-->
                        <!--<div class="panel-body"> dude </div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>


		</div>
	</div>
</div>


