#box0 {
  display: none;
}

h3 {
  color: #FFF;
  font-weight: 300;
}

.ui-dialog-titlebar-close {
  display:none;
}

.ui-dialog-titlebar {
  display:none;
}

.ui-widget-overlay {
  background: #000;
  opacity: .7;
  -moz-opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}


.thumbDude{
  background: no-repeat url("../images/dude.jpg");
  background-size: 40px 40px;
  display: block;
}

.thumbLady{
  background: no-repeat url("../images/lady.jpg");
  background-size: 40px 40px;
  display: block;
}

#emptybox {
  width: 40px;
  height: 40px;
}

.cc-selector input{
  margin:0;padding:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

.cc-selector-2 input{
  position:absolute;
  z-index:999;
}

.dude{background-image:url("../images/dude.jpg");}
.lady{background-image:url("../images/lady.jpg");}

.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.drinkcard-cc{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width:100px;height:70px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
  filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
  -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
  filter: brightness(1.2) grayscale(.5) opacity(.9);
}
